.inputsiZeCointainer
  position relative
  top 1.2em  
  .size
    box-sizing border-box
    display inline-block
    height 100%
    width 20%
    padding 0 .5em
    input
      border 2px solid $inputBorder
      box-sizing border-box
      text-align center
      padding .8em 0em
      color $ironRed
      display inline-block
      width 100%
