mixin inputSize ()
  .inputsiZeCointainer
    .size
      input(type="text")
      label S
    .size
      input(type="text")
      label M
    .size
      input(type="text")
      label L
    .size
      input(type="text")
      label XL
    .size
      input(type="text")
      label XXL
