.input
  color $ironRed
  text-align left
  label
    background white
    position relative
    font-size .5em
    padding 0 1em
    top .8em
    left .5em
    text-transform uppercase
  input
    border 2px solid $inputBorder
    display block
    box-sizing border-box
    padding .8em 1em
    width 90%
