//- mixings ************
include ../components/header/header.jade
include ../components/footer/footer.jade
//- end - mixings ******
doctype html
html(lang='en')
  head
    title ironStreetPrinting
    meta( charset="utf-8")
    meta( name="viewport" content="width=device-width" )
    <!-- injector:css -->
    <!-- endinjector -->
  body#home
    include ../components/menu/menu.jade
    +header(2)
    section
        article.screen_printing
          .pure-g
            .pure-u-1.pure-u-md-1-5
            .pure-u-1.pure-u-md-3-5
              h2 What is screen-print
              p Millions use Any.do to realize their true potential. Any.do helps you achieve anything by syncing your personal tasks, work projects, and shared lists so you have a clear path moving forward. 

              p Millions use Any.do to realize their true potential. Any.do. Millions use Any.do to realize their true potential. Any.do.Millions use Any.do to realize their true potential. Any.do.Millions use.
            .pure-u-1.pure-u-md-1-5
        
        article.are_we_different
          h2 Are we different?
          .pure-g
            .pure-u-1.pure-u-md-1-5
            .pure-u-1.pure-u-md-3-5
              p Millions use Any.do to realize their true potential. Any.do.Millions use Any.do to realize their true potential. Any.do.

              .pure-g.items
                .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                  .item
                    span.icon-lightning
                    .name
                      | Rush Orders
                    .des
                      | Millions use Anydu to reallyze.
                .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                   .item
                    span.icon-tshirt2
                    .name
                      | Rush Orders
                    .des
                      | Millions use Anydu to reallyze.
                .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                   .item
                    span.icon-chat
                    .name
                      | Rush Orders
                    .des
                      | Millions use Anydu to reallyze.
                .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                   .item
                    span.icon-check
                    .name
                      | Rush Orders
                    .des
                      | Millions use Anydu to reallyze.
                .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                  .item
                    span.icon-inks
                    .name
                      | Rush Orders
                    .des
                      | Millions use Anydu to reallyze.
                .pure-u-1.pure-u-sm-1-2.pure-u-md-1-3
                   .item
                    span.icon-date
                    .name
                      | Rush Orders
                    .des
                      | Millions use Anydu to reallyze.
                
                
              .play_video
                .pure-g
                  .pure-u-1.pure-u-md-2-3
                    h4 Play video
                    p Lorem Ipsum is simply dummy text of the printing and typesdummy text ever since the 1500s, when an unknown printer took.
                    .outboxButton
                      span Gallery
                  .pure-u-1.pure-u-md-1-3
                    img(src="assets/video_gallery_button.png")
            .pure-u-1.pure-u-md-1-5
       
        article.inks
          img(src="assets/icons/inks.png")
          .pure-g
            .pure-u-1.pure-u-md-1-5
            .pure-u-1.pure-u-md-3-5
              p Millions use Any.do to realize their true potential. Any.do helps you achieve anything.
            .pure-u-1.pure-u-md-1-5
        
        article.every_project
          h2 Every project is especial
          .pure-g
            .pure-u-1.pure-u-md-1-5
            .pure-u-1.pure-u-md-3-5
              p Millions use Any.do to realize their true potential. Any.do helps you achieve anything by syncing your personal tasks, work projects, and shared lists so
            .pure-u-1.pure-u-md-1-5
        
        article.ink_2
          .pure-g
            .pure-u.pure-u-md-1-5
            .pure-u.pure-u-md-1-5
              .item
                img(src="assets/plastisol_B.png")
                .name plastisol
                p.des Millions use Any.do to realize their true potential. Any.do helps you achieve anything by syncing your personal tasks, work projects, and shared lists so you have.
                .characteristics
                  .characteristic 
                    span-icon 
                    span.text Durability
                  .characteristic Low Cost

            .pure-u.pure-u-md-1-5
              .item
                img(src="assets/plastisol_B2.png")
                .name water based
                p.des Millions use Any.do to realize their true potential. Any.do helps you achieve anything by syncing your personal tasks, work projects, and shared lists so you have.
            .pure-u.pure-u-md-1-5
              .item
                img(src="assets/plastisol_B2.png")
                .name discharge
                p.des Millions use Any.do to realize their true potential. Any.do helps you achieve anything by syncing your personal tasks, work projects, and shared lists so you have.
            .pure-u.pure-u-md-1-5
        
        article.the_details
          .pure-g
            .pure-u-1.pure-u-md-6-24
            .pure-u-1.pure-u-md-12-24
              h2 The details are the difference
            .pure-u-1.pure-u-md-6-24

          .pure-g
            .pure-u-1.pure-u-md-1-5
            .pure-u-1.pure-u-md-3-5
              p Millions use Any.do to realize their true potential. Any.do helps you achieve anything by syncing your personal tasks, work projects, and shared lists so you hav  helps you achieve anything.
            .pure-u-1.pure-u-md-1-5

        article.glow_in_the_dark
          .slider
            .pure-g
              .pure-u-1-4.goTo
              .pure-u-1-4
              .pure-u-1-4.info
                h3 GLOW IN THE DARK
                p Millions use Any.do to realize their true potential. Any.do helps you achieve anything by syncing your personal tasks, work projects, and shared lists so you have.

                p Work projects, and shared lists so you have. Millions use Any.do to realize their true potential. Any.do helps you achieve anything by syncing your.

                .outboxButton
                  span gallery
              .pure-u-1-4.goTo
        
        article.glow_in_the_dark_text
          .pure-g
            .pure-u-1.pure-u-md-1-5
            .pure-u-1.pure-u-md-3-5
              p Millions use Any.do to realize their true potential. Any.do helps you achieve anything by syncing your personal tasks, work projects, and shared lists so you have.
            .pure-u-1.pure-u-md-1-5

        article.other_services
          h2 other services

          .pure-g
            .pure-u-1.pure-u-md-1-5
            .pure-u-1.pure-u-md-3-5
              p.first Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 

              .pure-g.conCat
                .pure-u-1-3.cat.active Graphic Design
                .pure-u-1-3.cat.center Plotted vinyl
                .pure-u-1-3.cat shipping services
              .pure-g.conCatImg
                .pure-u-1-3.active
                  span.icon-pencil
                .pure-u-1-3
                .pure-u-1-3

              .left
                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

                .outboxButton
                  span gallery

            .pure-u-1.pure-u-md-1-5



    +footer()
