nav#mainMenu
  ul
    li.active
      a(href="/") Home
    li
      a(href="services.html") Services
    li
      a(href="products.html") Products
    li
      a(href="aboutus.html") About Us
    li.special 
      span
        a(href="buildaquote.html") Buil a Quote