icon-box = "\e900"
icon-calendar = "\e901"
icon-chat = "\e902"
icon-check = "\e903"
icon-circle = "\e904"
icon-date = "\e905"
icon-design = "\e906"
icon-facebook = "\e907"
icon-hand = "\e908"
icon-handShake = "\e909"
icon-ink = "\e90a"
icon-ink2 = "\e90b"
icon-inks = "\e90c"
icon-instagram = "\e90d"
icon-lightning = "\e90e"
icon-like = "\e90f"
icon-marker-path1 = "\e910"
icon-marker-path2 = "\e911"
icon-pencil = "\e912"
icon-people = "\e913"
icon-pig = "\e914"
icon-sheets = "\e915"
icon-size = "\e916"
icon-tag = "\e917"
icon-tshirt = "\e918"
icon-tshirt2 = "\e919"
icon-twitter = "\e91a"
