header
  div.header2.vCenter
    h1 More Than 
      span Screen-Print
    .pure-g
      .pure-u-1.pure-u-md-1-5
      .pure-u-1.pure-u-md-3-5
        p Millions use Any.do to realize their true potential. Any.do helps you achieve anything by syncing your personal tasks, work.
      .pure-u-1.pure-u-md-1-5