header.fullHeight
  div.header1.vCenter
    h1 Something About Us
    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 1500s.
    span.buildAQuote_button 
      | Build A Quote
    div.down_button
      figure
        img(src="assets/down1.png")