mixin header(type)
  if type == 1
    include header1

  else if type == 2
    include header2

  else if type == 3
    include header3

  else if type == 4
    include header4

  else if type == 5
    include header5