header.fullHeight
  div.header5.vCenter
    .title
      h1 Fast and Professional.
      .pure-g
        .pure-u-1.pure-u-md-1-3
        .pure-u-1.pure-u-md-1-3
          p Iron Street Printing  focuses on professional quality and fast turn around for all your t-shirt and design needs. 
          p Scroll down for a free quote!
          div
            span.buildAQuote_button 
              | Start Quote
        .pure-u-1.pure-u-md-1-3
    
    div.down_button
      figure
        img(src="assets/down1.png")