.fullHeight
  height 100%
header
  width 100%
  text-align center
  color white
  &>div
    width 100%
    height 100%
    h1
      font-weight 100
      font-size 3.5em
    .title
      background rgba(.0,.0,.0,.3)
      margin 10em 0 7em 0
  .header1
    background url('../assets/video_bg.jpg') no-repeat
    background-size cover
    background-attachment fixed
    background-position center
    position relative
    box-shadow 0 4px 9px rgba(0, 0, 0, 0.62)
    p
      margin 0 auto
      width 50%
    .buildAQuote_button
      cursor pointer
      border 2px solid white
      margin 2em auto
      padding 1em 2em
    .down_button
      position absolute
      bottom 0
      width 100%
      figure
        text-align center
      img
        cursor pointer
        width 54px
        height 54px

  .header2
    background url('../assets/header2.png') no-repeat
    background-size auto 100%
    background-position center
    background-attachment fixed
    height auto
    padding 10em 0em
    box-sizing border-box
    span
      border-bottom 4px solid $ironRed
    p
      font-size 1.2em

  .header3
    background url('../assets/products_header.jpg') no-repeat
    background-size cover
    background-attachment fixed

  .header4
    background url('../assets/header4.jpg') no-repeat
    background-size auto 100%
    background-position center
    background-attachment fixed
    padding 10em 0em
    h1
      margin .5em 0
    p
      margin 0

  .header5
    background url('../assets/header5.jpg') no-repeat
    background-position center
    background-attachment fixed
    background-size cover
    h1
      margin-bottom 0
    .title
      padding-bottom 3em
    .buildAQuote_button
      cursor pointer
      background $ironRed
      padding .5em 2em
    .down_button
      position absolute
      bottom 0
      width 100%
      figure
        text-align center
      img
        cursor pointer
        width 54px
        height 54px
