header
  div.header4.vCenter
    h1 Something Here Too
    .pure-g
      .pure-u-1.pure-u-md-1-3
      .pure-u-1.pure-u-md-1-3
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 1500s.
      .pure-u-1.pure-u-md-1-3
