$ironRed = #EF494B
$ironRed2 = #EF4A4C
$ironGray = #737474
$ironGrayTwo = #777777
$ironSoftSoftGray = #696969
$ironSoftLightGray = #B5B5B5
$ironSoftLightGray2 = #6F6F6F
$ironSoftGray = #ADADAD
$ironFooterGray = #595959


$inputBorder = #B6B9BB
