@import "icomoon"

@font-face
  font-family 'Conv_BIG JOHN'
  src url('../fonts/BIG JOHN.eot')
  src local('☺'), url('../fonts/BIG JOHN.woff') format('woff'), url('../fonts/BIG JOHN.ttf') format('truetype'), url('../fonts/BIG JOHN.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Conv_pier-bold'
  src url('../fonts/pier-bold.eot')
  src local('☺'), url('../fonts/pier-bold.woff') format('woff'), url('../fonts/pier-bold.ttf') format('truetype'), url('../fonts/pier-bold.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Conv_pier-bold-italic'
  src url('../fonts/pier-bold-italic.eot')
  src local('☺'), url('../fonts/pier-bold-italic.woff') format('woff'), url('../fonts/pier-bold-italic.ttf') format('truetype'), url('../fonts/pier-bold-italic.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Conv_pier-italic'
  src url('../fonts/pier-italic.eot')
  src local('☺'), url('../fonts/pier-italic.woff') format('woff'), url('../fonts/pier-italic.ttf') format('truetype'), url('../fonts/pier-italic.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Conv_pier-regular'
  src url('../fonts/pier-regular.eot')
  src local('☺'), url('../fonts/pier-regular.woff') format('woff'), url('../fonts/pier-regular.ttf') format('truetype'), url('../fonts/pier-regular.svg') format('svg')
  font-weight normal
  font-style normal

@font-face
  font-family 'Conv_Slim Joe'
  src url('../fonts/Slim Joe.eot')
  src local('☺'), url('../fonts/Slim Joe.woff') format('woff'), url('../fonts/Slim Joe.ttf') format('truetype'), url('../fonts/Slim Joe.svg') format('svg')
  font-weight normal
  font-style normal
