<dom-module id="cart-location">
	<template>
		<style>


		</style>


    <div class="pure-g">
      <div class="pure-u-24-24 pure-u-lg-10-24">
        <div class="HCenter">
          <div class="input">
            <label>IST print location</label>
            <input type="text" />
          </div>
        </div>
      </div>
      <div class="pure-u-12-24 pure-u-lg-4-24">
        <div class="HCenter">
          <div class="input">
            <label>ink colors</label>
            <input type="text" />
          </div>
        </div>
      </div>
      <div class="pure-u-12-24 pure-u-lg-10-24">
        <div class="HCenter">
          <div class="input">
            <label>ink</label>
            <input type="text" />
          </div>
        </div>
      </div>
    </div>
    <div class="outboxButton"><span>Remove this print location</span></div>

	</template>
</dom-module>

<script>
	Polymer({
		is: 'cart-location'
	});
</script>
