<dom-module id="cart-product">
	<template>
		<style>

		@media screen and (max-width: 567px) {
			:host > .pure-g {
				margin-bottom: 3em;
			}
		}

		</style>

    <div class="pure-g" id="{{data.id}}">
      <div class="pure-u-1 pure-u-sm-1-2">
        <div class="HCenter">
          <div class="input">
            <label>Product, color</label>
            <input type="text" readonly value="{{data.title}} / #{{data.color}}" />
          </div>
        </div>
        <div class="removeProduct outboxButton" on-click="deleteItem" ><span>remove this product</span></div>

      </div>
      <div class="pure-u-1 pure-u-sm-1-2">
        <div class="inputsiZeCointainer" >

          <div class="size">
            <input type="text" class="s" value="{{data.sizes.s::input}}" />
            <label>S</label>
          </div>
          <div class="size">
            <input type="text" class="m" value="{{data.sizes.m::input}}" />
            <label>M</label>
          </div>
          <div class="size">
            <input type="text" class="l" value="{{data.sizes.l::input}}"/>
            <label>L</label>
          </div>
          <div class="size">
            <input type="text" class="xl" value="{{data.sizes.xl::input}}" />
            <label>XL</label>
          </div>
          <div class="size">
            <input type="text" class="xxl" value="{{data.sizes.xxl::input}}"/>
            <label>XXL</label>
          </div>
        </div>
      </div>
    </div>

	</template>
</dom-module>

<script>
	Polymer({
		is: 'cart-product',
		properties: {
			data: {
				type: Object
			}
		},
		observers: [
			'dataSizeSChanged(data.sizes.s)',
			'dataSizeMChanged(data.sizes.m)',
			'dataSizeLChanged(data.sizes.l)',
			'dataSizeXlChanged(data.sizes.xl)',
			'dataSizeXxlChanged(data.sizes.xxl)'
		],
		dataSizeSChanged(s) {
			var id = this.querySelector('.cart-product').id;
			var storageH = new storageHelper('cart');
			var element = storageH.findElementObj(id);
			element.sizes.s = s;
			storageH.save();
		},
		dataSizeMChanged(s) {
			var id = this.querySelector('.cart-product').id;
			var storageH = new storageHelper('cart');
			var element = storageH.findElementObj(id);
			element.sizes.m = s;
			storageH.save();
		},
		dataSizeLChanged(s) {
			var id = this.querySelector('.cart-product').id;
			var storageH = new storageHelper('cart');
			var element = storageH.findElementObj(id);
			element.sizes.l = s;
			storageH.save();
		},
		dataSizeXlChanged(s) {
			var id = this.querySelector('.cart-product').id;
			var storageH = new storageHelper('cart');
			var element = storageH.findElementObj(id);
			element.sizes.xl = s;
			storageH.save();
		},
		dataSizeXxlChanged(s) {
			var id = this.querySelector('.cart-product').id;
			var storageH = new storageHelper('cart');
			var element = storageH.findElementObj(id);
			element.sizes.xxl = s;
			storageH.save();
		},
		deleteItem() {
			var id = this.querySelector('.cart-product').id;
			var storageH = new storageHelper('cart');
			storageH.remove(id);
			this.remove();
		}

	});
</script>
