<dom-module id="our-history-slider">
	<template>
		<style>

		</style>

    <div class="timeLine">
      <content></content>
    </div>
    <div class="timeLineFooter">
      <div class="spaceBar">
        <div class="bar"></div>
        <div class="years">
          <div class="pure-g">
            <div class="pure-u-1-6 active">2010</div>
            <div class="pure-u-1-6 active">2011</div>
            <div class="pure-u-1-6">2012</div>
            <div class="pure-u-1-6">2013</div>
            <div class="pure-u-1-6">2014</div>
            <div class="pure-u-1-6">2015</div>
          </div>
        </div>
      </div>
      <div class="pure-g">
        <div class="pure-u-1-5 prev">
          <div></div>
        </div>
        <div class="pure-u-3-5">
          <h2>our history</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
        <div class="pure-u-1-5 next">
          <div></div>
        </div>
      </div>
    </div>

	</template>
</dom-module>

<script>

(function($) {

	Polymer({
		is: 'our-history-slider'
	});

})(jQuery);

</script>
