<dom-module id="product-type-selector">
	<template>
		<style>

      :host .conCat {
        box-sizing: border-box;
      }

      :host .conCat .cat {
        box-sizing: border-box;
        cursor: pointer;
      }

      :host .conCat .cat:first-child .label {
        border-left: 1px solid white;
      }

      :host .conCat .cat:last-child .label {
        border-right: 1px solid white;
      }

      :host .conCat .cat .label {
        border: 1px solid white;
        border-left: none;
        border-right: none;
        font-size: .6em;
        text-transform: uppercase;
        padding: 1em 1.5em;
      }

      :host .conCat .center .label{
        box-sizing: border-box;
        border-left: 1px solid white;
        border-right: 1px solid white;
      }

      :host .conCat .cat.active .label{
        background-color: white;
        color: #ef494b;
      }

      :host .conCat .cat .conCatImg {
        display: none;
        background: url('../assets/other_services_cat_bg.png') no-repeat;
        background-position: center -17px;
        min-height: 20px;
      }

      :host .conCat .cat.active .conCatImg {
        display: block;
      }

			:host .product-description p{
				display: none;
			}
			:host .product-description p.active{
				display: block;
			}

		</style>


    <div class="pure-g conCat">
      <div class="pure-u-1-3 cat active">
        <div class="label" on-click="typeFilter">t-shirts</div>
        <div class="conCatImg"></div>
      </div>
      <div class="pure-u-1-3 cat center">
        <div class="label" on-click="typeFilter">sweatshirts</div>
        <div class="conCatImg"></div>
        </div>
      <div class="pure-u-1-3 cat">
        <div class="label" on-click="typeFilter">extras</div>
        <div class="conCatImg"></div>
      </div>
    </div>


    <div class="pure-g product-description">
      <div class="pure-u-1 pure-u-1-5"></div>
      <div class="pure-u-1 pure-u-3-5">
        <p class="t-shirts active" >Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
        <p class="sweatshirts" >Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <p class="extras" >Lorem Ipsum is simply dummy text of the.</p>
      </div>
      <div class="pure-u-1 pure-u-1-5"></div>
    </div>

	</template>
</dom-module>

<script>

(function($) {

	Polymer({
		is: 'product-type-selector',
		ready: function() {
			setTimeout(this.typeFilter.bind(this,'t-shirts'), 500);

		},
    typeFilter: function (param) {
			var myFilter = new filterHelper();

			//Add to filter regexp
			if(typeof(param) === "string") {
				myFilter.updateFilter('Selector', param);
			} else {
				$('.cat').removeClass('active');
				$(param.path[1]).addClass('active');
				myFilter.updateFilter('Selector', param.path[0].innerHTML);

				//Toggles description text
				$('.product-description p').removeClass('active');
				$('.'+param.path[0].innerHTML).addClass('active');
			}
			//Filter items
      $('.itemContainer').each((index, item)=> {
        if( item.getAttribute('data-filter').indexOf(myFilter.getFilterVal('Selector')) !== -1) {
          $(item).addClass('filtered');
        }
				else {
					$(item).removeClass('filtered');
				}
      });

			myFilter.filter(myFilter.getFilterText());

    }
	});

})(jQuery);

</script>
