#buildAQuote
  .redDivider
    background url('../assets/redDivider.jpg') no-repeat
    background-size 100% 100%
    height 13px
    padding 0
  h3
    text-align left
    font-family 'Conv_BIG JOHN'
    text-transform uppercase
  form
    color $ironRed
    article
      padding 3em 1em 0 1em
  .productInfo
    .redButton
      font-size .8em
      text-align left
      margin 0
    .removeProduct
      text-align left
      span
        border-color $ironRed
  .printDetails
    .outboxButton
      text-align left
      span
        border-color $ironRed
    .button
      text-align left
      font-size .8em
  .extras
    cursor pointer
    .name
      margin 1em
      font-size .7em
      text-transform uppercase
      font-family 'Conv_BIG JOHN'
      color $ironSoftGray
    [class^="icon-"]
      color $ironSoftGray
    .active
      [class^="icon-"], .name
        color $ironRed
