.selet_your_product
  background url('../assets/selet_your_product.jpg') no-repeat
  background-size cover
  color white
  .conCat
    border 1px solid white
    box-sizing border-box
    .cat
      padding 1em 1.5em 
      box-sizing border-box
      text-transform uppercase
      font-size .6em
      cursor pointer
    .active
      background-color white
      color $ironRed
    .center
      box-sizing border-box
      border-left 1px solid white
      border-right 1px solid white
  .conCatImg
    div
      padding 1em
      box-sizing border-box
    .active
      background url('../assets/other_services_cat_bg.png') no-repeat
      background-position center -17px
      min-height 20px
      
.filter
  h3, h5
    text-align left
    color $ironRed
    text-transform uppercase
    
  .filters
    font-size .8em
    text-align left
    div
      cursor pointer
  .label
    display inline-block
    vertical-align center
  .radioButton
    margin-left 1em
    border 1px solid $ironRed
    display inline-block
    vertical-align center
    border-radius 50%
    width 7px
    height 7px
  .active
    background $ironRed
  .catalog
    .item
      padding 1em
      text-align left
      color $ironRed
      .title
        font-size .9em
        margin 1em 0
      .figure
        border 2px solid $ironSoftLightGray
        img
          width 100%

