.selet_your_product
  background url('../assets/selet_your_product.jpg') no-repeat
  background-size cover
  color white

.filter
  h3, h5
    text-align left
    color $ironRed
    text-transform uppercase

  .filters
    font-size .8em
    text-align left
    div
      cursor pointer
  .label
    display inline-block
    vertical-align center
  .radioButton
    margin-left 1em
    border 1px solid $ironRed
    display inline-block
    vertical-align center
    border-radius 50%
    width 7px
    height 7px
  .active
    background $ironRed
  .catalog
    .item
      cursor pointer
      padding 1em
      text-align left
      color $ironRed
      .title
        font-size .9em
        margin 1em 0
        max-height 16px
      .figure
        border 2px solid $ironSoftLightGray
        &:hover
          border-color $ironRed
        img
          width 100%
          height auto

.hidden_data
  display none
