.screen_printing
  background url('../assets/screen_printing_bg.png') no-repeat
  background-size cover
  h2
    color $ironRed
  p 
    color $ironSoftSoftGray
    
.are_we_different
  h2
    color $ironRed
  p 
    color $ironSoftSoftGray
  .items
    padding 3em 0    
  .item
    font-size .8em
    margin 1em .1em
    .name
      color $ironRed
    .des
      color $ironGray
  .play_video
    padding 1em
    text-align left
    h4
      color $ironRed
      text-transform  uppercase
      margin 0
    p
      color $ironSoftLightGray
    .outboxButton
      span
        border-color $ironRed
        color $ironRed
    img
      cursor pointer
      width 150px

.inks
  background url('../assets/inks_bg.png') no-repeat
  background-size cover
  p
    color white

.every_project
  h2
    color $ironRed
  p
    color $ironGray

.ink_2
  background url('../assets/inks_2_bg.png') no-repeat
  background-size cover
  color $ironGray
  .item
    padding 0 1.5em
    .name
      text-transform uppercase
      margin .5em
    .des
      font-size .7em
    .characteristics
      color $ironRed
      text-align left

.the_details
  h2 
    color $ironRed
  p
    color $ironGray
    
.glow_in_the_dark
  color white
  padding 0
  .slider
    background url('../assets/slide_services_bg.png') no-repeat
    background-size cover 
    .goTo
      background rgba(255,255,255,.2)
    .info
      text-align left
      padding 0 1em
      box-sizing border-box
      background rgba(0,0,0,.2)
      h3
        font-family 'Big John'
.glow_in_the_dark_text
  color $ironGray
  
.other_services
  background url('../assets/other_services_bg.jpg') no-repeat
  background-size cover
  color white
  p.first
    margin 3em 0
  .conCat
    border 1px solid white
    box-sizing border-box
    .cat
      padding 1em 1.5em 
      box-sizing border-box
      text-transform uppercase
      font-size .6em
      cursor pointer
    .active
      background-color white
      color $ironRed
    .center
      box-sizing border-box
      border-left 1px solid white
      border-right 1px solid white
  .conCatImg
    div
      padding 1em
      box-sizing border-box
    .active
      background url('../assets/other_services_cat_bg.png') no-repeat
      background-position center -17px
  .outboxButton
    margin-top 5em
  
