.showSweetAlert
  width 80%
  height 90%
  top 0
  left 0
  margin 5% 10% !important
  overflow-y scroll
  box-sizing border-box
  #close
    position: absolute;
    top: -120px;
    border-radius: 50%;
    right: -10px;
    width: 25px;
    height: 25px;
    padding: 0;
    background: white;
    color: red;
    border: 2px solid gray;
  h2
    color #EF494B
  p
    text-align left
  button
    border-radius 0
  .title,
  .description,
  .category,
  .brand,
  .style,
  .material,
  .price
    margin-top 1em
    letter-spacing .5px
  div span
    font-weight bold
  .title
    font-size 1.2em
    color  #EF4A4C
  .images p
    text-align center
  .sa-button-container
    text-align left
  .description
    text-align justify
  .colors
    .color
      width 40px
      height 40px
      display inline-block
      vertical-align top
      margin 1em .5em 0 0
      cursor pointer
      border 1px solid rgba(128, 128, 128, 0.18)
    .active
      outline 2px solid #EF494B
